<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random</title>
</head>
<style>
    html, body { height:100%; margin:0; padding:0 }
    div { position:fixed; width:50%; height:50% }
    #NW { top:0;   left:0;   background:orange  }
    #NE { top:0;   left:50%; background:blue    }
    #SW { top:50%; left:0;   background:green   }
</style>
<body>
    <h1>Welcome to the HomePage!</h1>
    <div id="NW"></div>
    <div id="NE"></div>
    <div id="SE"></div>​
    <div id="SW"></div>
</body>
</html>
